* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 24px;
}

.bg-pink {
  background: pink;
}

.bg-red {
  background: red;
}

.bg-yellow {
  background: yellow;
}

.text-white {
  color: white;
}

.title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 32px;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.menu-list .menu-item {
  flex: 1 0 calc(33% - 32px);
  position: relative;
  border: 2px solid black;
  background: #dadada;
}

.menu-list .menu-item > span {
  display: block;
  margin-left: auto;
  width: 100%;
  max-width: 100px;
  font-weight: bold;
  padding: 7px 0;
  text-align: center;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

.menu-list .menu-item p {
  padding: 10px;
}

@media only screen and (max-width: 991px) {
  .menu-list .menu-item {
    flex: 1 0 calc(50% - 32px);
  }
}

@media only screen and (max-width: 767px) {
  .menu-list .menu-item {
    flex: 100%;
  }
}
